.logo{
    height: 100px;
    width: 100px;
}
.logo-container{
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}  
.nav-items>ul{
    display: flex;
    padding: 0px 20px;
    font-size: 24px;
    list-style-type: none;
    font-weight: bold;
    

}
.nav-items>ul>li{
    padding: 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 190px;
    
    margin: 5px;
    
    padding: 3px;
   
}

.res-card:hover{
    border: 1px solid gray;
   cursor: pointer;
}
.search{
   
    padding: 20px;
}
.rest-logo{
    width: 180px;
    height: 130px;
padding: 5px;    
}